avro>=1.10.2
chardet>=5.2.0
click>=8.5.0
dnspython>=2.6.1
duckdb
elasticsearch
iterabledata
jsonlines>=4.0.0
lz4>=4.3.2
numpy>=1.22.2
openpyxl>=3.1.2
orjson>=3.9.8
pandas>=2.0.3
py7zr>=0.20.6
pydantic
pymongo>=4.5.0
pyorc>=0.8.0
python-docx>=0.8.11
pyyaml
pyzstd
qddate>=1.0.4
requests
rich>=13.6.0
setuptools>=70.0.0
tabulate>=0.8.7
tqdm
typer
validators>=0.22.0
xlrd>=2.0.1
xlwt
xmltodict>=0.13.0
xxhash
zipp>=3.19.1
