avro>=1.10.2
chardet>=5.2.0
click>=8.1.6
dictquery>=0.5.0
jsonlines>=4.0.0
lz4>=4.3.2
mistql>=0.4.11
openpyxl>=3.1.2
orjson>=3.9.8
pandas>=2.0.3
py7zr>=0.20.6
pymongo>=4.5.0
pyorc>=0.8.0
pytest>=7.4.2
qddate>=1.0.4
rich>=13.6.0
setuptools>=65.5.1
validators>=0.22.0
xlrd>=2.0.1
xmltodict>=0.13.0
iterabledata